/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* ======font family=========
font-family: "Inter", sans-serif;
*/

:root{

  --thmColor: 000;
  --textColor: fff;

  --f18 : 18px;
  --f20 : 20px;
  --f22 : 22px;
  --f24 : 24px;
  --f28 : 28px;
  --f30 : 30px;
  --f32 : 32px;
  --f36 : 36px;
  --f40 : 40px;
  --f48 : 48px;

}


body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #1C1C1C;
  color: #fff;
}

img{
  max-width: 100%;
}
  
button {
  cursor: pointer; 
  border: none;
  padding: 0;
  background: none;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px; 
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.pb_150{padding-bottom: 150px;}
.pb_100{padding-bottom: 100px;}
.pb_50{padding-bottom: 50px;}
.pt_150{padding-top: 150px;}
.pt_100{padding-top: 100px;}
.pt_50{padding-top: 50px;}

.mb_150{margin-bottom: 150px;}
.mb_100{margin-bottom: 100px;}
.mb_50{margin-bottom: 50px;}
.mt_150{margin-top: 150px;}
.mt_100{margin-top: 100px;}
.mt_50{margin-top: 50px;}

.box__body{
    display: flex;
}

main {
    padding: 20px 50px;
    height: calc(100vh - 70px);
    overflow: auto;
}

body::-webkit-scrollbar,
main::-webkit-scrollbar
{
  display: none;
}
 
.thm_btn{
    background: linear-gradient(110.25deg, #8A71FF 14.25%, #6949FF 47.06%);
    box-shadow: 0px 1px 4px 0px #0000001A;
    border-radius: 8px;
    border: 1px solid #2F2E2E;
    padding: 8px;
    position: relative;
    border-radius: 8px;
}

.thm_btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #C5C5C5 0%, #2F2E2E 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

/* default-css END 
================================== */
 


.header-area {
  padding: 23px 0 22px;
  width: 100%;
  z-index: 99;
  border-bottom: 0.7px solid #3F3F3F;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-area button {
    flex-shrink: 0;
    display: flex;
    transition: all .3s;
}

.logo-area button.active {
    rotate: -0deg;
}

.header__mid {
    text-align: center;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.header__right a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.header__right a i {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header__mid h6 {
    margin: 0;
    font-weight: 500;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 16px;
  display: inline-block;
  margin-left: 60px;
  position: relative;
}
.menu-area{}

/* humbergar */
.humbergar {
  cursor: pointer;
  display: block;
  max-width: 35px;
  margin-left: auto;
}

.humbergar span, 
.humbergar span:before, 
.humbergar span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 1px;
  width: 24px;
  background: white;
  position: relative;
  display: block;
  content: '';
  transition: all 250ms ease-in-out;
}
.humbergar span:before {
  top: -8px;
}
.humbergar span:after {
  bottom: -7px;
}

.humbergar.active span {
  background-color: transparent;
}
.humbergar.active span:before {
  top: -2px;
  transform: rotate(45deg);
}

.humbergar.active span:after {
  bottom: 3px;
  transform: rotate(-45deg);
}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 32px;
  color: rgb(255, 0, 43);
}

/* Header section END */


/*============ side__bar Start =============*/

.side__bar {width: 250px;flex-shrink: 0;padding: 15px;display: flex;align-items: center;flex-direction: column;justify-content: space-between;height: calc(100vh - 70px);border-right: 1px solid #3F3F3F;position: sticky;left: 0;padding-bottom: 30px;background: #1C1C1C;z-index: 99;transition: all .3s;}

.side__bar.show {
    left: 0;
}

.side__bar ul {
    width: 100%;
}

.side__bar > ul li a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    border-radius: 8px;
    margin-bottom: 5px;
    color: #686567;
    font-weight: 500;
    width: 100%;
}

.side__bar > ul li a.active {
    background: #171717;
}

.side__bar > ul li a i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side__nav__btm {
}

a.user__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.user__link > img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.upPlane__blk {text-align: center;background: linear-gradient(314.82deg, #2F2E2E 6.85%, #272727 93.15%);padding: 16px;border: 1px solid #C5C5C580;border-radius: 8px;margin-bottom: 24px;display: flex;flex-direction: column;gap: 12px;}

.upPlane__blk a {
    font-size: 14px;
}

.upPlane__blk small {
    color: #686567;
    font-weight: 400;
    display: block;
}
.thm_btn {
}
.far {
}
.fa-chevron-down {
}
/*============ side__bar End =============*/


/*============Video Area Start =============*/

.Video-Creation {
}
.container-fluid {padding: 0 24px;}
.row {
}
.col-lg-12 {
}
.sec__title {
}

.sec__title p {
    color: #C9C9C9;
}

.sec__title h6 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
.gb__link {
}

.gb__link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 8px;
    align-items: center;
}

.gb__link ul li a {
    background: #171717;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #171717;
    transition: all .3s;
}

.gb__link ul li a:hover {
    border-color: #6949FF;
    color: #fff;
}
.CreateBtn {background: linear-gradient(134.14deg, #2D2D2D 46.75%, rgba(147, 147, 147, 0.6) 154.84%);padding: 15px 24px;border-radius: 8px;}
.gb__link ul li a.active {box-shadow: 0px 4px 9.6px 0px #8A71FF33;border-color: #6949FF;}
.gb__info {display: flex;align-items: center;background: #252525;padding: 14px;border-radius: 8px;margin-top: 24px;gap: 16px;max-width: 90%;margin-inline: auto;}

.gb__info i {
    flex-shrink: 0;
}

.gb__info p {
    margin: 0;
}
.title__wrp {display: flex;align-items: center;justify-content: space-between;gap: 30px;}
.title__right {display: flex;align-items: center;gap: 10px;justify-content: end;}

.title__right a {
    background: linear-gradient(110.25deg, #2D2D2D 14.25%, #2D2D2D 47.06%);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    padding: 0 15px;
    font-size: 14px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #C5C5C5;
    box-shadow: 0px 1px 4px 0px #0000001A;
    flex-shrink: 0;
    transition: all .3s;
}

.title__right a:hover {
    border-color: #6949FF;
}

.title__right a i {
    display: flex;
    align-items: center;
}
.textarea__blk {
}

.textarea__blk textarea {
    width: 100%;
    background: #2D2D2D;
    padding: 20px;
    min-height: 145px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #2D2D2D;
}

.textarea__blk textarea:focus {
    border: 1px solid #6949FF;
}
.icon-link {
}
.col-md-6 {
}
.audio__blk {margin-bottom: 10px;padding: 10px;border-radius: 8px;}

.audio__blk.active {
    background: #171717;
    border: 1px solid #6949FF;
}
.audio__name {display: flex;align-items: center;gap: 14px;margin-bottom: 5px;}

.audio__name label {
    color: #C9C9C9;
    line-height: 1.3;
    display: block;
}

.audio__name i {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.audio__name p {
    margin: 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #C9C9C9;
}
.audio__player {
}
.select__blk {
}
.col-lg-4 {
}
.Ratio__blk {background: #2D2D2D;display: flex;align-items: center;padding: 8px 16px;border-radius: 8px;gap: 12px;}

.Ratio__blk p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    color: #C9C9C9;
}

.Ratio__blk p span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.Ratio__blk i {
    width: 32px;
    border: 1px solid #C9C9C9;
    height: 32px;
    border-radius: 5px;
    background: linear-gradient(134.14deg, #2D2D2D 46.75%, rgba(147, 147, 147, 0.6) 154.84%);
    flex-shrink: 0;
}

.Ratio__blk i.v1 {
    width: 24px;
}

.Ratio__blk i.v3 {
    height: 24px;
}
.Video__card {
}

.Video__card a {
    border-radius: 8px;
    overflow: hidden;
    background: #171717;
    display: block;
}

.Video__card a p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    color: #DADADA;
}
.Caption__blk {background: #2D2D2D;display: flex;align-items: center;justify-content: center;height: 48px;margin-bottom: 10px;border-radius: 8px;}

.gv__btn {}

.gv__btn a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 230px;
    gap: 10px;
    margin: auto;
}

.gv__btn a i {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*============Video Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ body_right Start =============*/
.body_right {
    width: 380px;
    flex-shrink: 0;
    padding: 30px 30px;
    border-left: 1px solid #3F3F3F;
    height: calc(100vh - 70px);
    background: #1C1C1C;
    transition: all .3s;
}

.body_right.show {
    right: 0;
}
.reels__wrp {
}
.reels__info {display: flex;align-items: center;gap: 14px;margin-bottom: 20px;}

.reels__info small {
    color: #686567;
    line-height: 1.3;
    display: block;
}

.reels__info span {
    display: block;
}
.reels__img {
}
/*============ body_right End =============*/